h1{
    margin-left: 450px;
    margin-top: 50px;
    }
    .question{
    display:flex;
    flex-direction:column;
    margin-bottom:10px;
    margin-left: 350px;
    margin-top:50px;
    width: 500px;
    height: 100px;
    background-color: #f5e4d7; 
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    }
    .button{
    background-color:  #d4cdc3;
    border-radius:5px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 550px;
    }
    .button:hover {
    background-color:  #d4cdc3;
    color: black;
    font-size: 10pt;
    }